.Orders{
    display: flex;
    flex-direction: column;
    height: min-content;
    color: #768392;
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #2A2C38;
}
.MiddleSize{
    width: 40%;
}
.History{
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: center;
}